<h1>My Lists of Movies</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<p><%= link_to "Create a movie list", new_list_path(@list) %></p>
