<h1>Add a movie</h1>

<%= simple_form_for ([@list, @bookmark]) do |f| %>
  <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
  <%= f.association :movie %>
  <%= f.submit "Submit movie", class: "btn btn-primary" %>
<% end %>
